@font-face {
font-family: 'Kiona-Regular';
src: url('font/Kiona-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

body{
  background-color: #f2f5ea;
  font-family: "Kiona-Regular";
  color: #141414;
  z-index: 1;
}

.button{
  color: #141414;
}

.button:hover{
  color: #FF6B6B;
}

.center{
  text-align: center;
}
